<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" id="username">
    </div>

    <div class="form-group">
        <label for="email">Email:</label>
        <input type="text" class="form-control" id="email">
    </div>

    <div class="form-group">
        <label for="url">Url:</label>
        <input type="text" class="form-control" id="url">
    </div>

    <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password">
    </div>

    <div class="form-group">
        <label for="password">Confirm Password:</label>
        <input type="password" class="form-control" id="password_confirmation">
    </div>
</body>
</html>
