@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import 'partials/forms';

@import 'partials/errors';

.main {
    margin-top: 75px;
    margin-bottom: 100px;
}

hr {
    &.create_flyer_title {
        border: 1px solid orange;
    }
}

img {
    &.flyer {
        max-width: 100%;
        margin: 5px;
    }
}