@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.main {
    margin-top: 75px;
    margin-bottom: 100px;
}

hr {
    &.create_flyer_title {
        border: 1px solid orange;
    }
}